{% extends 'base.html' %}

{% block scripts %}

{% endblock %}


{% block title %} Quiz3-Q1   {% endblock %}

{% block content %}
    <h1>Quiz3 - Q1 </h1>

    <form id="q1" action="/q1" method="POST">
        <table>
            <tr>
                <td>
                    <label style="color: red;">{{ errorMessage }}</label>

                </td>
            </tr>
        </table>

        <table>
            <tr>
                <td>
                    Enter ----- (Year) : 
                </td>
                <td>
                    <input type="number" name="col1" id="col1">
                </td>
            </tr>
            <tr>
                <td>
                    Enter ----- (State) : 
                </td>
                <td>
                    <input type="text" name="col2" id="col2">
                </td>
            </tr>
            <tr>
                <td style="width: 180px;">
                    Select Chart Type  : 
                 </td>
                 <td style="width: 250px;">
                     <select name="chartSelect" id="chartSelect" style="width: 200px;">
                        <option value="pi">Pi-Chart</option>
                         <!--<option value="pi">Pi-Chart</option>
                         <option value="line">Line Chart</option>
                         <option value="hBar">Horizontal Bar Chart</option>
                         <option value="vBar">Vertical Bar  Chart</option>
                         <option value="point">Scattered (Point) Chart</option> -->
                     </select>
                 </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" name="search" id="search" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    
{% endblock %}
