
{% extends 'base.html' %} 
   
{% block title %} Scatter Chart  {% endblock %}
    
{% block styles %}
    <style type="text/css">
        axis path,
        .axis line {
            fill: none;
            stroke: black;
            shape-rendering: crispEdges;
        }
        
        .tick text {
            font-family: sans-serif;
            font-size: 13px;
        }

        .axisLabel {
            font-family: Verdana, sans-serif;
            font-size: 16px; 
            text-anchor: middle;
            fill: green;
            
        }
    </style>	

{% endblock %}

{% block scripts %}

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

{% endblock %}

{% block content %}
 
    <div id="barchartDiv"></div>
    <svg width="900" height="500"></svg>
    <div id="legendDiv"></div>

    <script>

        var xLabel = {{ xAxisLabel|safe }};
        var yLabel  = {{ yAxisLabel|safe }};
        var chartTitle =  {{ chartLabel|safe }};

        var svg = d3.select("svg"),
            margin = 200,
            width = 900 - margin,
            height = 500 - margin;

        svg.append("text")
        .attr("transform", "translate(100,0)")
        .attr("x", 50)
        .attr("y", 50)
        .attr("font-size", "24px")
        .text(chartTitle);

        var data = {{ graphData|safe }};
        console.log(data)

        var xScale = d3.scaleLinear().range([0, width]),
            yScale = d3.scaleLinear().range([height, 0]);

        var colorScale = d3.scaleOrdinal(d3.schemeCategory20b);
        
        var g = svg.append("g")
                .attr("transform", "translate(" + 100 + "," + 100 + ")");

             
        xScale.domain(d3.extent(data, function(d) { return d.x; }));
        yScale.domain([0, d3.max(data, function(d) { return d.y; })]);
        
        g.append("g")
        .attr("transform", "translate(0," + height + ")")
        .call(d3.axisBottom(xScale))
        .append("text")
        .attr("y", height - 250)
        .attr("x", width - 250) 
        .attr("class", "axisLabel")
        .text(xLabel);

        g.append("g")
        .call(d3.axisLeft(yScale))
        .append("text")
        .attr("transform", "rotate(-90)")
        .attr("x", height - 400)
        .attr("dy", "-4.7em")
        .attr("class", "axisLabel")
        .text(yLabel);
        
       svg.append("g")
        .attr("transform", "translate(" + 100 + "," + 100 + ")")
        .selectAll("dot")
        .data(data)
        .enter()
        .append("circle")
        .attr("cx", function(d) {return xScale(d.x)} )
        .attr("cy", function(d) {return yScale(d.y)} )
        .attr("r", 2.5)
        .style("fill", function(d){ return(colorScale(d.x)) });
       
        
        // Add one dot in the legend for each name.
        var size = 20
       
        svg.append("g")
        .attr("transform", "translate(750 ,0)")
        .selectAll("mydots")
        .data(data)
        .enter()
        .append("rect")
            .attr("x", 70)
            .attr("y", function(d,i){ return 70 + i*(size+5)  }) // 100 is where the first dot appears. 25 is the distance between dots
            .attr("width", size)
            .attr("height", size)
            .style("fill", function(d){ return colorScale(d.x)})

        // Add one dot in the legend for each name.
        svg.append("g")
        .attr("transform", "translate(750 ,0)")
        .selectAll("mylabels") 
        .data(data)
        .enter()
        .append("text")
            .attr("x", 70 + size*1.2)
            .attr("y", function(d,i){ return 70 + i*(size+5) + (size/2)  }) // 100 is where the first dot appears. 25 is the distance between dots
            .style("fill", function(d){ return colorScale(d.x)})
            .text(function(d){ return " "+ d.x})
            .attr("text-anchor", "left")
            .style("alignment-baseline", "middle");
    </script>
{% endblock %}